<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="MinhaStringDeConexao"
         connectionString="Data Source=DESKTOP-J70378C\SQLEXPRESS;Initial Catalog=Dbix;Integrated Security=True"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Binding"
                         maxReceivedMessageSize="2000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://faleiro.multiweb.com.br/api.php?type=v2_soap"
                binding="basicHttpBinding" bindingConfiguration="Binding"
                contract="MagentoService.PortType" name="Port" />
        </client>
    </system.serviceModel>
</configuration>